
.postForm {
	display: table;
}

.labeledInput {
	display: table-row;
}
.labeledInput > label, .labeledInput > input {
	margin-bottom: 0.25rem;
	display: table-cell;
}

.week-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(48, 1fr);
}

.week-day-heading {
	grid-row: 1;
}

.week-item {
	border: 1px solid gray;
	border-radius: 5px;
}
