nav ul {
	border: 1px solid black;
	border-radius: 0.5rem;
	display: flex;
	padding: 0.25rem;
	justify-content: space-around;
	flex-wrap: wrap;
	list-style: none;
}
nav ul > li {
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
}

.mainContentContainer {
	/* Center the content of the page. */
	display: flex;
	justify-content: space-around;
}

.postForm {
	display: table;
}

.labeledInput {
	display: table-row;
}
.labeledInput > label, .labeledInput > input {
	margin-bottom: 0.25rem;
	display: table-cell;
}

.week-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(48, 1fr);
}

.week-day-heading {
	grid-row: 1;
}

.week-item {
	border: 1px solid gray;
	border-radius: 5px;
}
