
.postForm {
	display: table;
}

.labeledInput {
	display: table-row;
}
.labeledInput > label, .labeledInput > input {
	display: table-cell;
}

.week-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(96, 1fr);
}

.week-day-heading {
	grid-row: 1;
}
